.DS_Store
**/.DS_Store
beta_whishlist.txt
build_schema.sh
prompts.md
code_review.md
docs_review.md
Claude.md
scaling_workflow_plan.md
scaling_script.md
scaling_script.r
.stub_run/
**/.nextflow
**/results
**/workdir
clean_nextflow.sh