aicsimageio>=4.14.0
BaSiCPy>=1.2.0
cellpose>=3.0.8
matplotlib>=3.8.3
numpy>=1.26.4
ome_model>=6.3.6
pystackreg>=0.2.7
scipy<1.13
setuptools>=69.2.0
scikit-image>=0.20.0
tifffile>=2022.4.8
clij2-fft
redlionfish