process {
    executor = 'lsf'
    maxRetries = 2
    errorStrategy = { task.attempt <= 2 ? "retry" : "ignore" }
}
executor {
    name = 'lsf'
    perJobMemLimit = true
    poolSize = 4
    submitRateLimit = '5 sec'
    killBatchSize = 30
    queueSize=30
}
params {
    max_memory = 250.GB
    max_cpus = 64
    max_time = 12.h
    withLabel:process_long {
        max_time = 48.h
    }
}