// Configuration for using GPU resources on Cub22 for OTAR3086 cost code
// To use this, supply: includeConfig "${projectDir}/conf/otar3086_cubb22.config"
// in you nextflow config file, which will override the default GPU settings in processes.config
process {

    //----------------------------------------------------------------------------------
    // GPU options
    //----------------------------------------------------------------------------------
    withLabel: gpu_short {
        cpus = 1
        memory =  { 16.GB * task.attempt }
        queue = 'cub22-inference'
        time = { 1.hour * task.attempt }
        clusterOptions = '-G s10751 -gpu \"num=1:mode=exclusive_process\"'
    }
    
    withLabel: gpu_small {
        cpus = 1
        memory =  { 8.GB * task.attempt }
        queue = 'cub22-inference'
        time = { 2.hour * task.attempt }
        clusterOptions = '-G s10751 -gpu \"num=1:mode=exclusive_process\"'
    }
    
   
    withLabel: gpu_normal {
        cpus = 1
        memory =  { 16.GB * task.attempt }
        queue = 'cub22-inference'
        time = { 2.hour * task.attempt }
        clusterOptions = '-G s10751 -gpu \"num=1:mode=exclusive_process\"'
    }
    
    withLabel: gpu_normal_plus {
        cpus = 1
        memory =  { 24.GB * task.attempt }
        queue = 'cub22-inference'
        time = { 2.hour * task.attempt }
        clusterOptions = '-G s10751 -gpu \"num=1:mode=exclusive_process\"'
    }
    
    withLabel: gpu_medium {
        cpus = 1
        memory =  { 32.GB * task.attempt }
        queue = 'cub22-inference'
        time = { 2.hour * task.attempt }
        clusterOptions = '-G s10751 -gpu \"num=1:mode=exclusive_process\"'
        
    }
    
    withLabel: gpu_himem {
        cpus = 1
        memory =  { 64.GB * task.attempt }
        queue = 'cub22-inference'
        time = { 2.hour * task.attempt }
        clusterOptions = '-G s10751 -gpu \"num=1:mode=exclusive_process\"'
    }
}