process {
    withLabel: tiny_img {
        cpus = 1
        memory = 4.GB
        queue = 'imaging'
        time = "1h"
    }
    
    withLabel: small_img {
        cpus = 1
        memory = { 6.GB * task.attempt }
        queue = 'imaging'
        time = { 1.hour * task.attempt }
    }
    
    withLabel: normal_img {
        cpus = 1
        memory = { 16.GB * task.attempt }
        queue = 'imaging'
        time = { 2.hour * task.attempt }
    }

    withLabel: tiny {
        cpus = 1
        memory = 1.GB
        queue = 'normal'
        time = "1h"
    }
    
    withLabel: normal {
        cpus = 1
        memory = { 16.GB * task.attempt }
        queue = 'normal'
        time =  { 2.hour * task.attempt }
    }
    
    withLabel: medium {
        cpus = 1
        memory = { 32.GB * task.attempt }
        queue = 'normal'
        time =  { 12.hour }
    }
    
    withLabel: himem {
        cpus = 1
        memory = { 64.GB * task.attempt }
        queue = 'normal'
        time = "12h"
    }
    //alias interj_gpu="bsub -n1 -q gpu-normal -G teamtrynka -M4000 -gpu - -R'span[hosts=1] select[mem>4000] rusage[mem=4000]' -Is bash"
    
    //bsub -n1 -q gpu-normal -G teamtrynka -M4000 -gpu - -R'span[hosts=1] rusage[mem=4000] select[mem>4000 && gmem>500]' -gpu "num=1" -Is bash
    withLabel: gpu_normal {
        cpus = 1
        memory =  { 16.GB * task.attempt }
        queue = 'gpu-normal'
        time = { 2.hour * task.attempt }
        clusterOptions = '-gpu \"num=1:gmodel=NVIDIAA100_SXM4_80GB:mode=exclusive_process\"'
    }
    
    withLabel: gpu_medium {
        cpus = 1
        memory =  { 32.GB * task.attempt }
        queue = 'gpu-normal'
        time = { 2.hour * task.attempt }
        clusterOptions = '-gpu \"num=1:gmodel=NVIDIAA100_SXM4_80GB:mode=exclusive_process\"'
    }
    
    withLabel: gpu_himem {
        cpus = 1
        memory =  { 64.GB * task.attempt }
        queue = 'gpu-normal'
        time = { 2.hour * task.attempt }
        clusterOptions = '-gpu \"num=1:gmodel=NVIDIAA100_SXM4_80GB:mode=exclusive_process\"'
    }
}